$grayColor:       #666;           // 普通段落文字，接近黑色的灰
$darkenGrayColor: #999;           // 辅助次要文字，深灰色
$mainColor:       #52b75a;        // 主色调，绿色
$bgColor:         #fff;        // 背景颜色，很浅的灰
$linkColor:       #0086e3;        // 链接颜色，蓝色
$priceColor:      #fd4d3e;        // 主要用于显示价格，红色
$btnColor:        #f6c157;        // 橙色背景颜色
$borderColor:     #e5e5e5;        // 边框色，灰色

$margin:          3%;             // 主要用于控制左右间距，上下间距禁止使用此变量

$inputHeight:     45px;           // 表单控件input或按钮的高度或左右结构类高度

$formTitleWidht:  75px;           // 表单或左右结构，标题所占宽度
